.child img{
    border-radius: 0.2rem;
}

.people{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
    margin: 1rem;
}

.about{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
    margin: 1rem 18rem;
}