img{
    border-radius: 0.5rem;
    pointer-events: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12rem 18rem 2rem 18rem;
    gap: 2rem;
}

.parent{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 1rem;
    padding: 2rem;
    flex-basis: 100%;
}

.child{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

#home{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

#svc{
    flex-direction: column;
    text-align: center;
}

#contact{
    width: 20rem;
}

ul{
    display: flex;
    gap: 1rem;
}