html{
    scroll-behavior: smooth;
}
  
body{
    background-image: linear-gradient(#C9B79C, #ebe7df);
    background-attachment: fixed;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    width: 96%;
    padding: 1rem;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

footer{
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    margin: 1rem 2rem;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reformas{
    background-image: url(../public/img/reformas.jpg);
    border-right: 4px solid white;
}

#inmuebles{
    background-image: url(../public/img/inmuebles.jpg);
}

.home{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#reformas:hover, #inmuebles:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    transition-duration: 0.4s;
}

.card{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
    width: 12rem;
    margin: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
}

.card:hover, .icon:hover{
    padding: 1.5rem;
    transition-duration: 0.4s;
}

.card a{
    width: 12rem;
    text-align: center;
}

h1{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 2rem;
}

#index{
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: larger;
}

.icon{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
    margin: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
}

@media (max-width: 800px){
    footer{
        justify-content: center;
    }

    .parent{
        display: grid;
        font-size: 1rem;
    }
}