html{
    scroll-behavior: smooth;
}
  
body{
      font-family: 'Inter', sans-serif;
      color: white;
      background-image: linear-gradient(rgb(205, 192, 177), antiquewhite);
      background-attachment: fixed;
      /* #545454, #E6A860 */
}

h1{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 2rem;
}

header{
    margin-top: 2rem;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 1rem;
}

.cont{
    display: flex;
    justify-content: center;
}

.reform{
    background-image: url(../public/img/ref.png);
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100vw;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.inmob{
    background-image: url(../public/img/inm.png);
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    width: 100vw;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.reform:hover, .inmob:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    transition-duration: 0.4s;
}

.icon{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
    margin: 0.4rem;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
}

.card:hover{
    padding: 1.5rem;
    transition-duration: 0.4s;
}

.cardHeader{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
    margin: 0.4rem;
    width: 12rem;
    text-align: center;
}